extends layout

block content
<<<<<<< HEAD
  h1= tutoriaaaaaal
  p Hi! My name is Prakriiti Kharel
=======
h1 = title
p HI! My name is Prakriti Kharel
>>>>>>> 1aacae9fac0b55feba9713fa94b666bc8dbcaf72
